@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

$lavender-floral: #b56be0;
$french-lilac: #786194;
$dark-purple: #32283e;
$ghost-white: #f5f3f7;
$accent: #ffff99;
$warn: red;
$success: #27ff5d;

$heading-font: 'Fredoka One', cursive;
$text-font: 'Comfortaa', cursive;
